.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

html,body{
	background-color: #92d5a9;
}

#inv-btn{
	width: 350px;
	height: 350px;
	background: rgba(0,0,0,0);
	position: fixed;
	top: 120px;
	left: 10px;
}

#heart{
	margin-top: 100px;
	margin-left: 15px;
}

#hidden-btns{
	margin-top: 30px;
}

#hidden-btns li{
	float: left;
	width: 130px;
	height: 90px;
	border: #e5e5e5 solid 1px;
	text-decoration: none;
	margin: 0 25px;
}