.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

body{
	background-color: #FFFFFF;
}

.status{
	width: 50px;
	height: 50px;
	display: none;
}

.status-icons{
	margin: 10px;
}

#offline{
	display: block;
}


#heart{
	margin-top: 100px;
	margin-left: 15px;
}

#hidden-btns{
	margin-top: 30px;
}

#hidden-btns li{
	float: left;
	width: 130px;
	height: 90px;
	border: #e5e5e5 solid 1px;
	text-decoration: none;
	margin: 0 25px;
}